Repository joram-sjamaar/devtools-web: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend test, backend coverage, backend docs, frontend build

backend test:
  script:
  - cd ./backend
  - npm ci --cache .npm --prefer-offline
  - npm run test:report
  artifacts:
    paths:
    - ./backend/reports
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - ./backend/.npm/

backend coverage:
  script:
  - cd ./backend
  - npm run test:coverage-html
  artifacts:
    paths:
    - ./backend/coverage
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - ./backend/.npm/

backend docs:
  script:
  - cd ./backend
  - npm run jsdoc
  - npm run apidoc
  artifacts:
    paths:
    - ./backend/jsdoc
    - ./backend/apidoc
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - ./backend/.npm/

frontend build:
  script:
  - cd ./frontend
  - npm ci --cache .npm --prefer-offline
  - npm run build
  artifacts:
    paths:
    - ./frontend/dist
    - ./frontend/index.html
    expire_in: 1 week
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - ./frontend/.npm/

Gitlab CI caching and changes
  backend/package.json
  frontend/package.json
Due: backend test, backend coverage, backend docs, frontend build

Gitlab CI caching and changes
  .gitlab-ci.yml
  backend/package.json
  frontend/package.json
Due: backend test, backend coverage, backend docs, frontend build

Gitlab CI changes
  .gitlab-ci.yml
Due: none

Gitlab CI testing test
  frontend/package.json
Due: frontend build

Gitlab CI testing test
  .gitlab-ci.yml
  frontend/package.json
Due: frontend build

Week 5 documentation
  docs/week5.md
Due: none

Finishing touches
  backend/package-lock.json
  backend/package.json
  backend/server/server.js
  frontend/src/js/todo.js
  webpack.config.js
Due: backend test, backend coverage, backend docs

Finishing touches
  frontend/package.json
Due: frontend build

Added TOC to docs
  docs/week4.md
  docs/week5.md
Due: none

Path conditions:
  backend test: any of: backend/*
  backend coverage: any of: backend/*
  backend docs: any of: backend/*
  frontend build: any of: frontend/*
